@use "../../../styles/typography.scss";
@use "../../../styles/varables.scss" as *;

.custom-card {
  max-width: 672px;
  gap: 32px;
  border-radius: 8px;
  border: 1px solid $gray-100;
  padding: 32px;
}

.card-title {
  font-weight: $font-size-xl;
  font-size: $font-size-lg;
  line-height: $line-height-sm;
  letter-spacing: 0;
  color: $blue-dark;
  margin-bottom: 20px;
}

.atividade-grup {
  margin-bottom: 32px;
}

label {
  font-weight: $font-weight-medium;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  letter-spacing: 0;
  color: $blue-dark;
}

.item-list {
  width: 100%;
  border: 1px solid $gray-200;
  border-radius: 8px;
  padding: 16px;
  gap: 12px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-list hr {
  margin: 12px 0;
  display: block;
  height: 1px;
  background-color: $gray-100;
  margin: 12px 0px;
}

.remove-btn i {
  padding: 5.75px;
  color: $danger-dark;
  font-size: 12.5px;
  border-radius: 4px;
  cursor: pointer;
}

.remove-btn i:hover {
  background-color: $gray-100;
}

.custom-input {
  border: 1px solid $gray-200;
  border-radius: 6px;
  padding: 8px 12px;
}

.custom-input:focus {
  border: 1px solid $blue-base;
  box-shadow: none;
}

.custom-input-grup:has(input:focus) label {
  color: $blue-base;
}
