@use "../../../styles/varables.scss" as *;

.custom-title {
  font-weight: $font-weight-bold;
  font-size: $font-size-xl;
  line-height: $line-height-xl;
  letter-spacing: 0;
  text-align: center;
}

.custom-subtitle {
  font-weight: $font-weight-regular;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  letter-spacing: 0;
  text-align: center;
  color: $gray-200;
}

.content-titles {
  height: 60px;
  gap: 4px;
  margin-bottom: 32px;
}

.custom-card {
  max-width: 672px;
  gap: 20px;
  border-radius: 8px;
  border: 1px solid $gray-100;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 32px 56px 32px;
}

.custom-card i {
  font-size: 48px;
  color: $gray-200;
}

.custom-warning-titles {
  gap: 2px;
}

.card-title {
  font-weight: $font-weight-bold;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  letter-spacing: 0;
  text-align: center;
  color: $gray-300;
}

.card-subtitle {
  font-weight: $font-weight-regular;
  font-size: $font-size-xs;
  line-height: $line-height-xs;
  letter-spacing: 0;
  text-align: center;
  color: $gray-300;
}
