//Colors

//Blue
$blue-base: #3B5AC2;
$blue-dark: #1A2856;
$blue-linear-gradient: linear-gradient(90deg, #1A2856 0%, #334EA9 100%);

//Grayscale
$white: #FFFFFF;
$gray-100: #E2E8F0;
$gray-200: #64748B;
$gray-300: #121621;

//Danger
$danger-base: #E95F5F;
$danger-dark: #D71D1D;

//Typography

// Font family
$font-family-base: 'Inter', sans-serif;

// Font sizes
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 24px;

// Font weight
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Line height
$line-height-xs: 16px;
$line-height-sm: 20px;
$line-height-md: 24px;
$line-height-lg: 24px;
$line-height-xl: 24px;
